/* 공통영역 */
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

button {
  width: 150px;
  height: 40px;
  background-color: rgb(110, 151, 238);
  border-radius: 5px;
  color: #fff;
}

button a {
  color: #fff;
}

button:hover {
  background-color: rgb(56, 90, 136);
}

.App {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding: 15px 12%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  background-color: rgb(110, 151, 238);
  font-weight: 400;
  position: fixed;
  z-index: 1;
}

.header li a,
.header li button {
  color: aliceblue;
}

.header li a:hover,
.header li button:hover {
  color: rgb(56, 90, 136);
}

/* 개별영역 */
.wrap {
  width: 100%;
  min-height: 100%;
  position: absolute;
  margin: 57px 0;
  padding: 20px 20%;
  background-color: rgb(230, 230, 230);
}

.menu {
  padding: 20px;
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 30px 0;
  border-radius: 15px;
}

.menu img {
  margin-right: 50px;
}

.menu .content {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  margin: 5px 0;
}

.mypage {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.menu_check {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 30px 0;
  border-radius: 15px;
}

.menu_check input {
  margin: 20px;
}

.menu_check button {
  height: 35px;
}

.reserve p {
  margin: 10px 0;
}

.auth {
  display: grid;
  place-items: center;
}

.auth button {
  margin: 20px 20px 20px 0;
}

.chatting {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.chat_btn {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(110, 151, 238);
  color: rgb(110, 151, 238);
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font: 500 1.5rem/70px 'Noto Sans KR', sans-serif;
  background-color: rgb(177, 197, 241);
}

.chat_room {
  width: 250px;
  height: 450px;
  background-color: rgb(177, 197, 241);
  position: relative;
  right: -15%;
}

.chat_header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(110, 151, 238);
  height: 30px;
  position: relative;
}

.chat_header p {
  margin-left: 10px;
}

.room_btn {
  width: 25px;
  height: 100%;
  background-color: rgb(110, 151, 238);
  color: #000;
  width: 50px;
}

.room_btn:hover {
  background-color: rgb(177, 197, 241);
  border-radius: 0;
}

/* 채팅리스트 */
.list_wrap {
  height: 420px;
  overflow-y: auto;
}

/* 스크롤바 */
.list_wrap::-webkit-scrollbar,
.in_room::-webkit-scrollbar {
  width: 20px;
}

.list_wrap::-webkit-scrollbar-track,
.in_room-webkit-scrollbar-track {
  background-color: rgb(177, 197, 241);
}

.list_wrap::-webkit-scrollbar-thumb,
.in_room::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(110, 151, 238);
  border: 5px solid rgb(177, 197, 241);
  border-radius: 10px;
}

/* 채팅방 */
.room_wrap {
  height: 420px
}

.back {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(110, 151, 238);
}

.back h2 {
  padding-left: 10px;
  font: 300 1.8rem/30px 'Noto Sans KR', sans-serif;
  color: #fff;
}

.back button {
  width: 50px;
  border-radius: 0;
}

.in_room {
  padding: 0 10px;
  height: 340px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;

}

.room_wrap form {
  display: flex;
}

.socket_send {
  display: flex;
  flex-direction: column;
}

.chat_list {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(110, 151, 238);
}

.chat_list img {
  width: 50px;
  height: 50px;
  background-color: pink;
  margin: 0 10px;
}